name: cicd test

on:
  push:
    branches:
      - main

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: python hello
        run: echo "hello world"
