name: cicd test
on:
 push:
   branches: 
     - main
jobs:
  test_job: 
    name: deploy to staging
    runs-on: ubuntu-latest
    steps:
      - name: python code
        run: echo "hello python"
     
